<div class="logo">
  <img src="/assets/coffee-cup.png" alt="">
  <h3>Welcome to CONO</h3>
  <p>helping you to order coffee</p>
</div>

<form>
  <div class="form-group">
    <label>EMAIL</label>
    <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Your Email">
  </div>
  <div class="form-group">
    <label>PASSWORD</label>
    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Your Password">
  </div>
  <div class="login">
    <input type="button" value="LOG IN" (click)="login(email, password)">
  </div>
</form>