<app-header [title]="'Order'" [canBack]="'tables'"></app-header>
<div class="content">
    <div class="table-info">
        <div class="name">
            <h2>{{table?.name}}</h2>
            <div class="line"></div>
        </div>
        <div class="customer">
            <h5>CUSTOMER'S NAME</h5>
            <input type="text" [(ngModel)]="customer">
        </div>
    </div>
    <div class="filter">
        <app-filter *ngFor="let item of filters" [filter]="item" [activated]="item.active" (click)="selectFilter(item)"></app-filter>
    </div>
    <div class="food">
        <app-food *ngFor="let item of foods" [food]="item" [quantity]="item.quantity"></app-food>
    </div>
</div>
<app-order-summary (onOrderNow)="orderNow($event)"></app-order-summary>
